<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
	<img src="{{ url_for('static', filename='fonts/ifb-logo_1.png') }}">
	<img src="{{ url_for('static', filename='fonts/logo_bilille.svg') }}" height="100">
</div>
<hr/>
<div class="container-fluid">
	<h1>Welcome</h1>
	<br>
	<p class="text-info">
		To works properly this appliance need at least 16GB of RAM. <br>
		It is strongly recommanded to attache a disk before performing any analysis.
	</p>
	<br>
	<p>
		This appliance provides 2 tools dedicated to bacterial/fungal analysis
	</p>
	<ol>
		<li> <a href="{{ url_for('antismash', _external=True) }}" target="_blank">antiSMASH</a>: antiSMASH allows the rapid genome-wide identification, annotation and analysis of secondary metabolite biosynthesis gene clusters in bacterial and fungal genomes</li>
		<li> <a href="{{ url_for('crispr_finder') }}">CRISPRDetect</a>: CRISPRDetect as the name suggests let you discover CRISPRs</li>
	</ol>
	<br>
	<p>
		These tools can be run with command lines.<br>
	</p>
	<ol>
		<li>use a SSH client: <code>ssh -A -p 22 root@&lt;ip&gt;</code></li>
		<li>put your input file into <code class='text-info'>{{ config['WEBSMASH_OUTPUT_MOUNT'] }}</code> (to run antismash) or <code class='text-info'>{{ config['CRISPR_OUTPUT_MOUNT'] }}</code> (to run crispr_detect)
		<li>connect to docker container: <code>docker exec -i -t microbannot /bin/bash</code>
		<li>run antismash: <code>run_antismash &lt;input file name&gt; &lt;output directory name&gt; [antismash options]</code></li>
		<li>run crispr detect: <code>run_crispr_detect &lt;input file name&gt; &lt;output directory name&gt; [crispr options]</code></li>
	</ol>
	<p>
		If you want more info on options, you can use use the flag	<code>-h/--help</code>.<br>
	</p>
</div>
{% endblock %}
