
/* manage glypicon on panel collapsing*/
a[aria-expanded=true] .glyphicon-plus {
   display: none;
}
a[aria-expanded=false] .glyphicon-minus {
   display: none;
}

code {
    background-color: #f7f7f9;
    color: #d14;
    padding: 2px 4px;
}