<!-- extend from base layout -->
{% extends "base.html" %} {% from 'boostrap_macros.html' import
input_field %} {% block content %}

<form action="{{url_for('crispr_finder')}}" class="form-horizontal"
	method="POST" enctype="multipart/form-data">
	<div class="modal-header">
		<h1 class="form-heading">CRISPRDetect</h1>
	</div>
	<div class="modal-body">
		{{ form.csrf_token }} <br> {% if form.errors %}
		<div class="bs-callout bs-callout-danger">An error occured</div>
		<br> {% endif %} {# {{ input_field(form, "sequence", "E.g. >
		Fasta header(s) with DNA sequence(s).") }} #} {{ input_field(form,
		"sequence", class="filestyle") }}
		<div class="panel">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse"
						aria-expanded="{% if form.errors and not form.errors.sequence %}true{% else %}false{% endif %}"
						href="#advanced"> <i
						class="glyphicon glyphicon glyphicon-plus pull-left"></i> <i
						class="glyphicon glyphicon glyphicon-minus pull-left"></i> See
						more parameters
					</a>
				</h4>
			</div>
			<div id="advanced"
				class="panel-body panel-collapse collapse {% if form.errors and not form.errors.sequence %}in{% endif %}"
				aria-expanded="{% if form.errors and not form.errors.sequence %}true{% else %}false{% endif %}">
				{{ input_field(form, "k_mer_size_filter") }} {{ input_field(form,
				"pattern") }} {{ input_field(form, "window_size") }} {{
				input_field(form, "allowed_mismatch") }} {{ input_field(form,
				"spacer_dr_match_limit") }} {{ input_field(form, "min_dr") }} {{
				input_field(form, "max_dr") }} {{ input_field(form,
				"min_spacer_dr_ratio") }} {{ input_field(form,
				"max_spacer_dr_ratio") }} {{ input_field(form, "first_pass_limit")
				}} {{ input_field(form, "search_tracrrna") }}</div>
		</div>
		<div class="form-group col-md-7">
			<button class="btn btn-success pull-right" type="submit">Submit
				job</button>
		</div>
	</div>
</form>
<script>
</script>
{% endblock %} {% block js %} {{ super() }}
<script
	src="{{ url_for('static', filename='js/bootstrap-filestyle.min.js') }}"></script>
{% endblock %}
