<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}


<!--<img src="{{ url_for('static', filename='js/jquery.js') }}""/bilille/_media/wiki/trait_vert.png?w=150&amp;tok=b265dd" class="media img-responsive" alt="" width="150"> -->

<div class="container">
<img src="{{ url_for('static', filename='fonts/bilille.png') }}" class="media img-responsive center-block">
<hr>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis egestas ante. Quisque eleifend elit ut dui placerat condimentum. Donec mauris magna, blandit at suscipit et, mollis non tellus. Mauris porta placerat ullamcorper. Mauris neque dolor, mattis quis nisi eu, molestie fringilla ipsum. Donec cursus viverra nisl, eget volutpat ex maximus sed. Duis turpis sem, tempor ac mauris vel, consectetur eleifend risus. Etiam ut fringilla tortor. Donec in tortor libero. Phasellus non sagittis lorem, nec feugiat mi. Nulla vitae ornare sapien, vitae maximus nisl. Vivamus eu laoreet lacus. Duis non nulla et felis porttitor eleifend a non sapien. Donec molestie nibh molestie mi mattis commodo. Integer finibus vestibulum nisi ut interdum.
</p>

<p>
Sed nec enim in metus elementum auctor eget id turpis. Maecenas sit amet lacinia ligula. Sed rutrum varius molestie. Nullam hendrerit purus justo, at ultrices tortor malesuada in. Donec non interdum massa, ut fringilla lacus. Duis pharetra luctus interdum. Fusce quis bibendum quam. Nullam mattis non arcu nec scelerisque. Fusce et scelerisque neque. Vestibulum tincidunt at arcu et imperdiet. Curabitur tincidunt et urna at congue. Fusce facilisis dui sed molestie malesuada.
</p>

<p>
Fusce tincidunt porttitor interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Cras ac nunc imperdiet lacus facilisis blandit a ut nunc. Pellentesque a tellus quis quam egestas molestie. Sed vitae velit ultrices, vehicula quam vel, interdum dolor. Nulla facilisi. Mauris vel fringilla dui. Sed tellus sapien, bibendum et vulputate condimentum, vestibulum eu ligula. Nunc quis magna imperdiet, porta sem in, vehicula elit. Curabitur nec convallis neque. Nunc porttitor libero mauris, cursus consequat sapien iaculis sit amet. Morbi lorem augue, accumsan a dapibus id, hendrerit non ligula. Vivamus dictum interdum nunc, a aliquet purus euismod eu.
</p>

<p>
Curabitur pellentesque dui vitae consectetur fringilla. Nullam sodales lacus in pharetra tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tempor pretium erat, id rutrum augue accumsan a. Cras lacinia ac augue eget varius. Nullam nec tincidunt mauris, sit amet tristique arcu. Nullam volutpat quam at convallis sagittis. Nunc lacus quam, semper non sagittis ut, feugiat eu nunc. Duis quis urna ullamcorper, pretium enim a, dapibus lectus. Aliquam varius lorem non mauris auctor pharetra. Donec et euismod eros, et sodales nibh. Duis sit amet ultrices mi. Fusce consequat nibh ut commodo hendrerit. Morbi auctor ut dolor et lobortis.
</p>

<p>
Nullam laoreet semper ipsum, et suscipit magna pretium sit amet. Nunc tristique auctor nunc, eu porta magna aliquet non. Phasellus ultrices posuere iaculis. Suspendisse vel odio in dolor venenatis malesuada vitae sit amet ex. Quisque dignissim purus massa, sed ullamcorper lorem euismod eu. Nulla imperdiet turpis id imperdiet vehicula. Donec id placerat ligula, at dapibus nibh. Suspendisse potenti. Mauris metus felis, venenatis a sem at, fermentum blandit arcu. Donec iaculis, magna sed scelerisque venenatis, nisi nibh consequat nulla, et tincidunt purus arcu vitae arcu. Donec pharetra eget nibh nec lacinia. Nam ultricies elit vel dictum varius. 
</p>
</div>

{% endblock %}
