<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}



<div class="container-fluid">
	<img src="{{ url_for('static', filename='fonts/bilille.png') }}" class="media img-responsive center-block">
	<hr>
	<p class="alert alert-danger">This appliance is not intented to works without a virtual disk attached. Make sur to have one before starting your analyses.</p>
	
	<h1>Welcome</h1>
	<p>
		This appliance provides 2 tools dedicated to bacterial/fungal analysis
		<ol>
			<li> <a href="{{ url_for('antismash', _external=True) }}" target="_blank">Antismash</a>: antiSMASH allows the rapid genome-wide identification, annotation and analysis of secondary metabolite biosynthesis gene clusters in bacterial and fungal genomes</li>
			<li> <a href="{{ url_for('crispr_finder') }}">Crispr_detect</a>: Crispr_detect as the name suggests let you disover CRISPRs</li>
		</ol>
	</p>
	<p>
		This tools can be run with command lines using a SSH client.<br>
		Usage:
		<ol>
			<li><code>run_antismash &lt;input file&gt; &lt;output directory&gt; [antismash options]</code></li>
			<li><code>run_crispr_detect.py --fasta &lt;input file&gt; --output_dir &lt;output directory&gt; [crispr options]</code></li>
		</ol>
	</p>
	
</div>
{% endblock %}
